<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/stylesheets/admin.css">

<h1>Add New Art Piece</h1>

<form action="/art/<%= piece.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label>Title
        <input type="text" name="title" value="<%= piece.title %>">
    </label>
    <label>Description
        <textarea rows="4" cols="26" name="description"><%= piece.description %></textarea>
    </label>
    <label>Artist
        <input type="text" name="artist" value="<%= piece.artist.name %>">
    </label>
    <label>About Artist
        <textarea rows="4" cols="26" name="about_artist"><%= piece.artist.about %></textarea>
    </label>
    <button>Update piece</button>
</form>

<form action="/art/<%= piece.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete piece</button>
</form>

</html>
